{
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */

}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#main{
  width: 69em;
  z-index: 1;
}
#temperatemap{

}
#temperate{
  z-index: 2;
  width: 70em;
  position: absolute;

}
.redpanda{
  z-index: 4;
  width: 12em;
  position: relative;
  /*background-image: "redpanda.svg";*/
  top: 163px;
  left: 24px;
}
