{
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */

}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body {
  font-family: 'IM Fell DW Pica', sans-serif;
  color: #000;
}
h2 {
  text-align: center;
  font-size: 3rem;
}
h3 {
  font-size: 1.7rem;
  width: 100%;
}
p {
  text-align: center;
  font-size: 1.8rem;
}
a {
  text-decoration: none;
  color: #737;
}
.wpbanner a + a::before {
  content: " | ";
}
#navigation{
  display: inline;
  width: 90%;
  height: 3em;
}
.back{
  float: left;
  padding: 0;
  margin: 0;
  width: 30%;
}
.home{
  float: right;
  padding: 0;
  margin: 0;
  width: 15%;
}

  .wpbanner {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    display: inline-block;
    padding: 1em 3em .5em 3em;
  }

  #mainmap{
    width: 68em;
    z-index: 1;
    position: relative;
    padding: 1em 0 0 0;
  }

  #northernmain{
    z-index: 3;
    width: 387px;
    position: absolute;
    top: 145px;
    left: 283px;
  }
  #australasiamain{
    z-index: 3;
    width: 186px;
    position: absolute;
    top: 310px;
    left: 273px;
  }
  #tropicalasiamain{
    z-index: 3;
    width: 228px;
    position: absolute;
    top: 366px;
    left: 450px;
  }
  #banyanmain{
    z-index: 3;
    width: 217px;
    position: absolute;
    top: 481px;
    left: 291px;
  }
  #rainforestmain{
    z-index: 3;
    width: 188px;
    position: absolute;
    top: 587px;
    left: 161px;
  }
  #africanmain{
    z-index: 3;
    width: 224px;
    position: absolute;
    top: 569px;
    left: 325px;
  }
  #temperatemain{
    z-index: 3;
    width: 290px;
    position: absolute;
    top: 702px;
    left: 71px;
  }

@media only screen and (max-width: 590px) {
  .wpbanner {
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    display: inline-block;
    padding: 1em 10% .5em 10%;
  }

  #mainmap{
    width: 50em;
    z-index: 1;
    position: relative;
    padding: 1em 0 0 0;
  }

  #northernmain{
    z-index: 3;
    width: 285px;
    position: absolute;
    top: 100px;
    left: 210px;
  }
  #australasiamain{
    z-index: 3;
    width: 137px;
    position: absolute;
    top: 222px;
    left: 202px;
  }
  #tropicalasiamain{
    z-index: 3;
    width: 167px;
    position: absolute;
    top: 262px;
    left: 333px;
  }
  #banyanmain{
    z-index: 3;
    width: 158px;
    position: absolute;
    top: 347px;
    left: 218px;
  }
  #rainforestmain{
    z-index: 3;
    width: 139px;
    position: absolute;
    top: 425px;
    left: 121px;
  }
  #africanmain{
    z-index: 3;
    width:160px;
    position: absolute;
    top: 412px;
    left: 242px;
  }
  #temperatemain{
    z-index: 3;
    width: 215px;
    position: absolute;
    top: 510px;
    left: 54px;
  }
}

/*-------temperate-------*/
#temperate, #northern{
  z-index: 1;
  width: 70em;
  position: relative;

}
#redpanda {
  z-index: 4;
  width: 12em;
  position: absolute;
  /*background-image: "redpanda.svg";*/
  top: 273px;
  left: 33px;
}

#flamingos {
  z-index: 4;
  width: 149px;
  position: absolute;
  top: 138px;
  left: 88px;
}
#crane {
  z-index: 4;
  width: 110px;
  position: absolute;
  top: 459px;
  left: 66px;
}
#steer {
  z-index: 4;
  width: 151px;
  position: absolute;
  top: 441px;
  left: 355px;
}
@media only screen and (max-width: 800px) {

}

/*-------northern-------*/
#riverotter {
  z-index: 4;
  width: 77px;
  position: absolute;
  top: 195px;
  left: 183px;
}
/*-----Red Panda-----*/
#redpandapg {
  z-index: 4;
  width: 30em;
  padding: 2em 20em 0 20em;
  /*background-image: "redpanda.svg";*/

}
