{
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */

}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body {
  font-family: 'IM Fell DW Pica', sans-serif;
  color: #000;
}
h2 {
  text-align: center;
  font-size: 3rem;
}
h3 {
  font-size: 1.7rem;
  width: 100%;
}
p {
  text-align: center;
  font-size: 1.8rem;
}
a {
  text-decoration: none;
  color: #737;
}
a + a::before {
  content: " | ";
}
#navigation{
  display: inline;
  width: 90%;
  height: 3em;
}
.back{
  float: left;
  padding: 0;
  margin: 0;
  width: 30%;
}
.home{
  float: right;
  padding: 0;
  margin: 0;
  width: 15%;
}
.wpbanner {
  text-decoration: none;
  text-align: center;
  font-size: 1.9rem;
  display: inline-block;
  padding: 1em 3em .5em 3em;
}

#mainmap{
  width: 75em;
  z-index: 1;
  position: relative;
  padding: 1em 2em 0 2em;
}
#temperatemain{
  z-index: 3;
  width: 319px;
  position: absolute;
  top: 764px;
  left: 99px;
}
#northernmain{
  z-index: 3;
  width: 432px;
  position: absolute;
  top: 148px;
  left: 329px;
}

/*-------temperate-------*/
#temperate, #northern{
  z-index: 1;
  width: 70em;
  position: relative;

}
#redpanda {
  z-index: 4;
  width: 12em;
  position: absolute;
  /*background-image: "redpanda.svg";*/
  top: 273px;
  left: 33px;
}

#flamingos {
  z-index: 4;
  width: 149px;
  position: absolute;
  top: 138px;
  left: 88px;
}
#crane {
  z-index: 4;
  width: 110px;
  position: absolute;
  top: 459px;
  left: 66px;
}
#steer {
  z-index: 4;
  width: 151px;
  position: absolute;
  top: 441px;
  left: 355px;
}

/*-------northern-------*/
#riverotter {
  z-index: 4;
  width: 77px;
  position: absolute;
  top: 195px;
  left: 183px;
}
/*-----Red Panda-----*/
#redpandapg {
  z-index: 4;
  width: 30em;
  padding: 2em 20em 0 20em;
  /*background-image: "redpanda.svg";*/

}
