

<body id="mainpage">
  <div class="wpbanner">
    <a href="/northern/">Northern Trail</a>
    <a href="/australasia/">Australasia</a>
    <a href="/banyan/">Tropical Asia (Banyan Wilds)</a>
    <a href="/tropicalasia/">Tropical Asia (Trail of Vines)</a>

    <a href="/rainforest/">Tropical Rain Forest</a>
    <a href="/african/">African Savanna</a>
    <a href="/temperate/">Temperate Forest</a>
  </div>

  <img id="mainmap" src="/images/wpzoo.svg" >

  <a href="/northern/"><img id="northernmain" src="/images/northern.svg" ></a>
  <a href="/australasia/"><img id="australasiamain" src="/images/australasia.svg" ></a>
  <a href="/tropicalasia/"><img id="tropicalasiamain" src="/images/tropicalasia.svg" ></a>
  <a href="/banyan/"><img id="banyanmain" src="/images/banyan.svg" ></a>
  <a href="/rainforest/"><img id="rainforestmain" src="/images/rainforest.svg" ></a>
  <a href="/african/"><img id="africanmain" src="/images/africa.svg" ></a>
  <a href="/temperate/"><img id="temperatemain" src="/images/temperate.svg" ></a>

</body>
