<body id="mainpage">
  <div class="wpbanner">
    <a href="/northern.html">Northern Trail</a>
    <a href="/australasia.html">Australasia</a>
    <a href="/tropicalasia.html">Tropical Asia</a>
    <a href="/rainforest.html">Tropical Rain Forest</a>
    <a href="/african.html">African Savanna</a>
    <a href="/temperate/">Temperate Forest</a>
  </div>

  <img id="mainmap" src="/images/wpzoo.svg" >

  <a href="regions/temperate/"><img id="temperatemain" src="/images/temperate.png" ></a>

  <!--<img usemap="redpanda" id="redpanda" src="redpanda.svg" >-->

</body>
